<h2>Editing Book</h2>

<%= form_with model: @list, url:update_list_path(@list.id), method: :patch do |f| %>

  <p>Title</p>
  <%= f.text_field :title %>

  <p>Body</p>
  <%= f.text_area :body %>
<div>
  <%= f.submit 'Update Book' ,class:'Update-btn' %>
</div>
  
<div class="edit-fnc-btn">
  <div class="edit-show-btn">
    <%= link_to "show", list_path(@list.id) %>
  </div>
  <div class="edit-back-btn">
    <%= link_to "back", '/lists' %>
  <div>
</div>
<% end %>
