<div class="flash">
  <%= flash[:notice] %>
</div>

<body>
<header>
<h1>Books</h1>
</header>

<table>
  <thead>
    <tr class="table-box">
      <th class="title-name">Title</th>
      <th class="body-name">Body</th>
      <th class="function-blank"></th>
    </tr>
  </thead>
  
  <tbody>
  <% @lists.each do |list| %>
  <tr class="books-information">
    <td class="title-box">
      <%= list.title %>
    </td>
    <td class="body-box">
      <%= list.body %>
    </td>
    <td class="function-box">
      <%= link_to "Show", list_path(list.id) %>
  
      <%= link_to "Edit", edit_list_path(list.id) %>
  
      <%= link_to "Destroy", destroy_list_path(list.id), method: :delete, "data-confirm" => "Are you sure？" %>
    </td>
  </tr>
  
  <% end %>
  <tbody>
</table>

<div class="New-book">
  <h3>New book</h3>
  <% if @list.errors.any? %>
    <%= @list.errors.count %>error occurred
    <ul>
      <% @list.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  <% end %>
  <!-- form_with部分 -->
  <%= form_with model: @list, url: '/lists', method: :post do |f| %>
  <div class="New-Title">
    <p>Title</p>
    <%= f.text_field :title %>
  </div>

  <div class="New-Body">
    <p>Body</p>
    <%= f.text_area :body %>
  </div>
  <div class="New-Submit">
    <%= f.submit 'Create Book' ,class:"submit-btn"%>
  </div>
</div>
<% end %>
</body>
