<div class="flash">
  <%= flash[:notice] %>
</div>

<div class="show-bookdata">
  <p class="title-data">
    <b>Title:</b>
    <%= @list.title %>
  </p>

  <p class=body-data>
    <b>Body:</b>
    <%= @list.body %>
  </p>
</div>

<div class= "show-fnc-btn">
  <div class="show-edit-btn">
    <%= link_to "edit", edit_list_path(@list.id) %>
  </div>
  <div class="show-back-btn">
    <%= link_to "back", '/lists' %>
  </div>
</div>